<div align="center">

# Alfred <%= nameTitleCase %>

[!["Buy Me A Coffee"](https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png)](https://www.buymeacoffee.com/kcao7snkgx)

</div>

## Description

<!-- TODO -->

## Features 🥷

<!-- TODO -->

## Usage

<!-- TODO -->

